<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cocktail Finder User Dashboard</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="/styles/fonts.css"> -->
  <link rel="stylesheet" type="text/css" href="/styles/dashboard.css">


</head>

<body>
  <!-- Header -->
  <header>
    <nav class="navbar">
      <h2>What To Drink</h2>
      <ul>
        <li>
          <div id="sidebar-icon" class="sidebar-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="wrapper">

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
      <ul class="list-unstyled hide">
        <h4 id="username"></h4>

        <li>
          <a id="logout" href="/">Log Out</a>
        </li>
        <li>
          <a href="/homepage">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </aside>
    <div class="user-content-wrap">
      <section class="user-content">

        <div class="profile">
          <h1>Profile</h1>
          <h2 id="name" class="name"></h2>
          <h2 id="location" class="location"></h2>
          <h2 id="favLiquor" class="favLiqour"></h2>
          <button id="delete" class="deleteBtn" name="delete">Tired of drinking?</button>
        </div>



        <div class="savedDrinks">
          <h1 class="savedDrinksHead">Favorite Drinks</h1>
          <ul id="savedDrinksList" class=" savedDrinksList">
          </ul>
          <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg">Create a drink</button>
        </div>

        <div class="renderedDrinks">
          <h1>Selected Drink</h1>
          <div id="selectedDrink">

          </div>
        </div>
      </section>




      <div id="idModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form class="newDrinkForm">
              <div class="newDrink">
                <div class="drinkInfo">
                  <input name="name" class="drinkName" type="text" placeholder="Drink Name*">
                  <textarea name="instructions" class="drinkInstructions" type="text" row="40" placeholder="Instructions/ Directions"></textarea>
                </div>
                <div class="drinkIngredients">
                  <input name="ingredient1" class="ingredients" type="text" placeholder="Ingredient 1*">
                  <input name="ingredient2" class="ingredients" type="text" placeholder="Ingredient 2">
                  <input name="ingredient3" class="ingredients" type="text" placeholder="Ingredient 3">
                  <input name="ingredient4" class="ingredients" type="text" placeholder="Ingredient 4">
                  <input name="ingredient5" class="ingredients" type="text" placeholder="Ingredient 5">
                  <input name="ingredient6" class="ingredients" type="text" placeholder="Ingredient 6">
                  <input name="ingredient7" class="ingredients" type="text" placeholder="Ingredient 7">
                  <input name="ingredient8" class="ingredients" type="text" placeholder="Ingredient 8">
                  <input name="ingredient9" class="ingredients" type="text" placeholder="Ingredient 9">
                  <input name="ingredient10" class="ingredients" type="text" placeholder="Ingredient 10">
                </div>
                <div class="drinkPortions">
                  <input name="measure1" class="portions" type="number" placeholder="Amount*">
                  <input name="measure2" class="portions" type="number" placeholder="Amount">
                  <input name="measure3" class="portions" type="number" placeholder="Amount">
                  <input name="measure4" class="portions" type="number" placeholder="Amount">
                  <input name="measure5" class="portions" type="number" placeholder="Amount">
                  <input name="measure6" class="portions" type="number" placeholder="Amount">
                  <input name="measure7" class="portions" type="number" placeholder="Amount">
                  <input name="measure8" class="portions" type="number" placeholder="Amount">
                  <input name="measure9" class="portions" type="number" placeholder="Amount">
                  <input name="measure10" class="portions" type="number" placeholder="Amount">
                </div>
              </div>
              <button id="createDrink" class="createdDrink" type="submit">Create Drink</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  </main>

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin=" anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/dashboard.js" type="text/javascript"></script>
</body>

</html>