<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Sign in page for Cocktail Finder</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/styles/index.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="wrapper">

    <button class="mainBtn">Let's Drink!</button>

    <!-- Register or sign in forms -->
    <div class="formContainer hide">
      <form class="form">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username*" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password*" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

      <h1 id="or">Or</h1>

      <form class="form">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputNewUser" class="form-control" placeholder="Username*" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputNewPassword" class="form-control" placeholder="Password*" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password*" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
      </form>
    </div>

  </div>

  <!-- Sticky Footer -->
  <footer class="footer">
    <div class="container">
      <span>&copy Gabriel Ng & Tevin Rawls</span>
    </div>
  </footer>
  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/scripts/index.js" type="text/javascript"></script>
</body>

</html>