<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/index.css">
  </head>

    <body class = "text-center">
    <div class = "landContainer" class = "d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <p class="lead">
          <a href="#" class="drinkBtn">Let's Drink!</a>
        </p>
      </main>
    </div>

    <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy Gabriel Ng, Tevin Rawls, Chris Anderson</span>
    </div>
  </footer>



  </body>
</html>
