@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

/* ********* General Styles ********* */

body {
  box-sizing: border-box;
  font: 16px;
  font-family: "Raleway", sans;
  background-color: rgb(196, 196, 196);
  text-align: center;
}

a {
  color: white;
}

/* ********* Header ********* */
h2 {
  color: white;
  font-size: 2.5em;
  padding-left: 15px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: black;
}

.navbar ul {
  display: flex;
  align-self: flex-end;
  list-style: none;
}

.navbar li {
  padding: 0 10px;
}

/* ********* Main wrapper ********* */

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

/* ********* Side Bar ********* */

.sidebar {
  width: 0;
  height: 1051px;
  background: black;
  color: white;
  text-align: center;
  transition: all 0.3s;
  border-left: 2px solid white;
}

.sidebar.active {
  width: 250px;
}

.hide {
  display: none;
}

.sidebar h4 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.sidebar h5 {
  border-top: 2px solid white;
  padding-top: 10px;
}

.sidebar button {
  background: transparent;
  text-align: center;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: black;
}

.sidebar ul {
  padding: 20px 0;
  text-align: center;
}

.sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

/* ********* Animated Hamburger Menu ********* */

.sidebar-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sidebar-icon span {
  display: block;
  position: absolute;
  height: 8px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sidebar-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.sidebar-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.sidebar-icon span:nth-child(1),
.sidebar-icon span:nth-child(2) {
  top: 0px;
}

.sidebar-icon span:nth-child(3),
.sidebar-icon span:nth-child(4) {
  top: 18px;
}

.sidebar-icon span:nth-child(5),
.sidebar-icon span:nth-child(6) {
  top: 36px;
}

.sidebar-icon.open span:nth-child(1),
.sidebar-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-icon.open span:nth-child(2),
.sidebar-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidebar-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.sidebar-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.sidebar-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.sidebar-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* ********* Hover effects ********* */

.sidebar button:hover {
  background: white;
  color: black;
}

.sidebar a:hover {
  color: black;
  background: white;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.user-content li a:hover,
.user-content li span:hover {
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
}

/* ******************************** */

.user-content {
  display: flex;
  max-width: 80vw;
  margin: 10px auto;
}

.user-content h1 {
  padding: 20px;
  border-bottom: 2px solid black;
}

/* Profile Content
----------------------------------------------- */
.profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.user-content h2 {
  padding: 20px;
  color: black;
}

/* Favorite Drinks Content
 ---------------------------------------------- */
.savedDrinks {
  width: 70%;
  height: 100%;
  margin: 15px;
}

.user-content ul {
  list-style: none;
}

.user-content li {
  font-size: 1.3em;
  padding-top: 10px;
}

.user-content span {
  cursor: pointer;
}

.btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

/* Rendered Data
----------------------------------------------- */
.renderedDrinks {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 75vw;
  height: 100%;
}
/* Create Drink Form
----------------------------------------------- */
.newDrink {
  display: flex;
  flex-direction: row;
  margin: 16px 16px;
}

.drinkInfo {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: solid 2px black;
}

.drinkIngredients {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
}

.drinkPortions {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
}
