@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

/* ********* General Styles ********* */

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans;
  background-color: #1e1d21;
  text-align: center;
  color: white;
}

a {
  color: white;
}

/* ********* Header ********* */
h2 {
  color: white;
  font-size: 2.5em;
  padding-left: 15px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #1e1d21;
}

.navbar ul {
  display: flex;
  align-self: flex-end;
  list-style: none;
}

.navbar li {
  padding: 0 10px;
}

/* ********* Main wrapper ********* */

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  align-items: stretch;
  background-color: #1e1d21;
}

/* ********* Side Bar ********* */

.sidebar {
  width: 0;
  height: 1051px;
  background: linear-gradient(
    to bottom,
    #1e1d21,
    #232326,
    #29282a,
    #2e2e2f,
    #343434
  );
  color: white;
  text-align: center;
  transition: all 0.3s;
  border-left: 2px solid #00ffff;
  border-top: solid 2px #1e1d21;
}

.sidebar.active {
  width: 250px;
}

.hide {
  display: none;
}

.sidebar h4 {
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.sidebar h5 {
  border-top: 2px solid white;
  padding-top: 10px;
}

.sidebar button {
  background: transparent;
  text-align: center;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: black;
}

.sidebar ul {
  padding: 20px 0;
  text-align: center;
}

.sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: white;
}

/* ********* Animated Hamburger Menu ********* */

.sidebar-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sidebar-icon span {
  display: block;
  position: absolute;
  height: 8px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sidebar-icon.open span {
  background: #00ffff;
}

.sidebar-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.sidebar-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.sidebar-icon span:nth-child(1),
.sidebar-icon span:nth-child(2) {
  top: 0px;
}

.sidebar-icon span:nth-child(3),
.sidebar-icon span:nth-child(4) {
  top: 18px;
}

.sidebar-icon span:nth-child(5),
.sidebar-icon span:nth-child(6) {
  top: 36px;
}

.sidebar-icon.open span:nth-child(1),
.sidebar-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-icon.open span:nth-child(2),
.sidebar-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidebar-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.sidebar-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.sidebar-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.sidebar-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* ******************************** */

.user-content-wrap {
  width: 100%;
  margin: 0 auto;
  border-top: solid 2px #00ffff;
}

.user-content {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.user-content h1 {
  padding: 20px;
  border-bottom: 2px solid #00ffff;
}

/* Profile Content
----------------------------------------------- */
.profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.user-content h2 {
  padding: 20px;
  color: white;
}

.deleteBtn {
  background: transparent;
  border: solid 1px #00FFFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Favorite Drinks Content
 ---------------------------------------------- */
.savedDrinks {
  width: 70%;
  height: 100%;
  margin: 15px;
}

.user-content ul {
  list-style: none;
}

.user-content li {
  font-size: 1.3em;
  padding-top: 10px;
}

.user-content span {
  cursor: pointer;
}

.btn {
  background: transparent;
  border: solid 1px #00ffff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Rendered Data
----------------------------------------------- */
.renderedDrinks {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 70%;
  height: 100%;
}

.renderedDrinks ul {
  padding-left: 0px;
}

.renderedDrinks p {
  color: white;
}

#selectedDrink img {
  max-width: 60%;
  padding-bottom: 16px;
}

/* Create Drink Form
----------------------------------------------- */
.newDrinkForm{
  background-color: #1E1D21;
}

.newDrinkForm input, textarea{
  background-color: #1E1D21;
  color: white;
}

.newDrinkForm input::placeholder, textarea::placeholder{
  color: white;
}

.newDrink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px 16px;
}

.drinkName {
  border: solid 1px #00FFFF;
}

.drinkInfo {
  display: flex;
  flex-direction: column;
}

.drinkInstructions {
  margin-top: 10px;
  height: 80%;
  border: solid 1px #00FFFF;
}

.drinkIngredients {
  display: flex;
  flex-direction: column;
}

.ingredients {
  border: solid 1px #00FFFF;
  margin-bottom: 6px;
}

.drinkPortions {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.portions {
  border: solid 1px #00FFFF;
  margin-bottom: 6px;
}

.createdDrink {
  width: 100%;
  background: transparent;
  border: solid 1px #00FFFF;
  color: white;
}

/* ********* Hover effects ********* */

.sidebar button:hover {
  background: white;
  color: white;
}

.sidebar a:hover {
  color: black;
  background-color: #00ffff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.user-content li a:hover,
.user-content li span:hover {
  color: white;
}

.btn:hover {
  background-color: #00ffff;
  color: black;
}

.deleteBtn:hover {
  background-color: rgb(255, 40, 40);
  color: white;
  border: solid 1px white;
}

.createdDrink:hover {
  cursor: pointer;
  background-color: #00FFFF;
  color: black;
}
