@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

/* ********* General Styles ********* */

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans;
  background-color: #1e1d21;
  color: white;
}

a {
  color: white;
}

/* ********* Header ********* */
h2 {
  color: white;
  font-size: 2.2em;
  font-weight: 600;
  padding-left: 15px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  line-height: 30px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #1e1d21;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  list-style: none;
}

.navbar li {
  padding: 0 10px;
}

/* ********* Main wrapper ********* */

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* ********* Side Bar ********* */

.sidebar {
  width: 0;
  height: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1d21),
    color-stop(#3d3c40),
    color-stop(#5f5e61),
    color-stop(#838384),
    to(#a9a9a9)
  );
  background: -webkit-linear-gradient(
    top,
    #1e1d21,
    #3d3c40,
    #5f5e61,
    #838384,
    #a9a9a9
  );
  background: -o-linear-gradient(
    top,
    #1e1d21,
    #3d3c40,
    #5f5e61,
    #838384,
    #a9a9a9
  );
  background: linear-gradient(
    to bottom,
    #1e1d21,
    #3d3c40,
    #5f5e61,
    #838384,
    #a9a9a9
  );
  color: white;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-left: 2px solid #f6cc5c;
}

.sidebar.active {
  width: 250px;
}

.hide {
  display: none;
}

.sidebar h4 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.sidebar h5 {
  border-top: 2px solid #f6cc5c;
  padding-top: 10px;
  font-size: 1.3em;
}

.sidebar button {
  background: transparent;
  text-align: center;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: black;
}

.sidebar ul {
  padding: 20px 0;
  text-align: center;
}

.sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

p {
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

.section-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #f6cc5c;
}

/* ********* Seach ********* */

.search {
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #1e1d21;
}

.search form {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 50px auto;
}

.search label {
  font-size: 1.5em;
  color: white;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-control {
  font-size: 1.2em;
  width: 55%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.search input[type="text"] {
  width: 45%;
  font-size: 1em;
  padding-right: 0.2px;
}

.searchSubmit {
  background: transparent;
  color: white;
  padding: 3px;
  border: solid 1px #f6cc5c;
  border-radius: 5px;
}

/* ********* Results ********* */

.results {
  width: 100%;
  text-align: center;
}

.results i {
  cursor: pointer;
}

.rendered-results {
  width: 98%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.rendered-results h6 {
  min-height: 80px;
}

.data {
  width: 22%;
  height: auto;
  margin-bottom: 16px;
  border-top: solid 2px #f6cc5c;
  padding-top: 20px;
}

.data img {
  width: 64%;
  height: 26%;
  padding-bottom: 12px;
}

.data h6 {
  font-size: 1.5em;
  margin: 10px 0 -10px;
}

.data6 .data {
  width: 30%;
  padding-bottom: 15px;
  border: solid 1px #f6cc5c;
}

section .data6 h6 {
  font-size: 30px;
}

section .data6 img {
  height: 50%;
  width: 50%;
}

section .data6 button {
  height: 15%;
  width: 20%;
}

.saveBtn {
  margin-bottom: 20px;
  background: transparent;
  border: solid 1px #f6cc5c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* ********* Animated Hamburger Menu ********* */

.sidebar-icon {
  width: 60px;
  height: 25px;
  position: relative;
  margin: 15px auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sidebar-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  opacity: 1;
  background: white;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sidebar-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.sidebar-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.sidebar-icon span:nth-child(1),
.sidebar-icon span:nth-child(2) {
  top: 0px;
}

.sidebar-icon span:nth-child(3),
.sidebar-icon span:nth-child(4) {
  top: 18px;
}

.sidebar-icon span:nth-child(5),
.sidebar-icon span:nth-child(6) {
  top: 36px;
}

.sidebar-icon.open span {
  background: #f6cc5c;
}

.sidebar-icon.open span:nth-child(1),
.sidebar-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-icon.open span:nth-child(2),
.sidebar-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidebar-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.sidebar-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.sidebar-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.sidebar-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.sidebar-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* ********* Hover effects ********* */

.sidebar button:hover {
  background: white;
  color: black;
}

.sidebar a:hover {
  color: black;
  background-color: #f6cc5c;
}

.searchSubmit:hover {
  background-color: #f6cc5c;
  color: black;
  cursor: pointer;
}

i:hover {
  color: #f6cc5c;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.saveBtn:hover {
  background-color: #f6cc5c;
  color: black;
}
