@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

html {
  position: relative;
  min-height: 100%;
  background-image: url("/images/background1.jpg");
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  background: none;
}

.mainBtn {
  height: 80px;
  width: 160px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  background-color: black;
  border: solid 2px white;
  margin: 0 auto 30px;
}

.mainBtn:hover {
  background-color: white;
  color: black;
}

/* Login/ Sign-Up Style
------------------------------------------ */

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
}

.text-center {
  background: none;
}

.hide {
  display: none;
}

.formContainer {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

#or {
  padding-top: 140px;
  color: white;
  margin-right: 15.5%;
  float: left;
}

.form {
  width: 100%;
  max-width: 36%;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(200, 200, 200, 0.9);
  margin-right: 15.5%;
  float: left;
}

.form:last-of-type {
  margin-right: 0;
}

.form .checkbox {
  font-weight: 400;
  margin-top: 10px;
}
.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Sticky Footer Style
---------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: white;
}
